<div id="delete-calendar-container" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete calendar<small></small></h4>
      </div>
      <%= form_tag '/calendar/delete', { method: :post, :class => "" } do %>
        <div class="modal-body">
            <input class="hide cal-target-id" name="calendar_id" value=""/>
            Really delete <strong class="calendar-name"></strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-primary">Yes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
