<div id="update-calendar-container" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rename calendar<small></small></h4>
      </div>
      <%= form_tag '/calendar/update', { method: :post, :class => "", :remote => true } do %>
        <div class="modal-body">
          <div class="panel-body form-horizontal">
              <input class="hide cal-target-id" name="calendar_id" value=""/>
              <div class="form-group">
                  <label for="update-cal-name" class="col-sm-3 control-label">Name&nbsp;&nbsp;<i class="fa fa-calendar"></i></label>
                  <div class="col-sm-9">
                    <input id="update-cal-name" name="cal_name" type='text' class="form-control" />
                  </div>
              </div> 
              <div class="form-group">
                  <label for="update-comments" class="col-sm-3 control-label">Comment&nbsp;&nbsp;<i class="fa fa-comment-o"></i></label>
                  <div class="col-sm-9">
                      <textarea id="update-comments" rows="4" name="comment" class="form-control"></textarea>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
