<div id="delete-media-container" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete media<small></small></h4>
      </div>
        <div class="modal-body">
						<input name="id" type="hidden" />
            Really delete <strong class="song-items"></strong> item(s)?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" id="do_delete" class="btn btn-primary">Yes</button>
        </div>
    </div>
  </div>
</div>
