<div id="ap-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a class="content-audio-playlist" tabindex="-1"><i class="content-audio-playlist fa fa-list"></i>&nbsp;&nbsp;Add/remove content</a></li>
    <li><a class="order-audio-playlist" tabindex="-1"><i class="order-audio-playlist fa fa-sort-amount-asc"></i>&nbsp;&nbsp;Change order</a></li>
    <li><a class="update-audio-playlist" tabindex="-1"><i class="update-audio-playlist fa fa-edit"></i>&nbsp;&nbsp;Update</a></li>
    <li><a class="delete-audio-playlist" tabindex="-1"><i class="delete-audio-playlist fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Delete</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancel</a></li>
  </ul>
</div>
