<div id="calendar-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a class="update-calendar" tabindex="-1"><i class="update-calendar fa fa-edit"></i>&nbsp;&nbsp;Rename</a></li>
    <li><a class="delete-calendar" tabindex="-1"><i class="delete-calendar fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Delete</a></li>
    <li><a class="attach-devices" tabindex="-1"><i class="attach-devices fa fa-link"></i>&nbsp;&nbsp;Attach devices</a></li>
    <li><a class="7-days" tabindex="-1"><i class="7-days fa fa-calendar-plus-o"></i>&nbsp;&nbsp;7 days report</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancel</a></li>
  </ul>
</div>
