<div id="event-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a class="delete-event" tabindex="-1"><i class="delete-event fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Delete event</a></li>
    <li><a class="delete-events" tabindex="-1"><i class="delete-events fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Delete series</a></li>
    <li><a class="clone-event" tabindex="-1"><i class="clone-event fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Repeat</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancel</a></li>
  </ul>
</div>
