<div id="text-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a class="update-text" tabindex="-1"><i class="update-text fa fa-edit"></i>&nbsp;&nbsp;Update</a></li>
    <li><a class="delete-text" tabindex="-1"><i class="delete-text fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Delete</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancel</a></li>
  </ul>
</div>
