<div class="container-fluid">
  <span class="current-page hide" data-controller-name="charts" data-action-name="index"></span>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-3 row">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
              <input id="search-chart" class="form-control" type="search" placeholder="Search charts">
            </div>
            <div class="panel-body">
              <ul id="user_devices" class="list-group">
                  <li style="cursor: pointer" title="Clic to show chart" id="chart_1" class="list-group-item"><h5>Devices and events</h5></li>
                  <li style="cursor: pointer" title="Clic to show chart" id="chart_2" class="list-group-item"><h5>Other chart</h5></li>
                  <li style="cursor: pointer" title="Clic to show chart" id="chart_3" class="list-group-item"><h5>Some other chart</h5></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 row pull-right">
          <!--<div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            No chart selected!
          </div>-->
          <div id='chart'></div>
        </div>
      </div>
    </div>
  </div>
