<div id="device-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a class="attach-to-calendar" tabindex="-1"><i class="attach-to-calendar fa fa-calendar"></i>&nbsp;&nbsp;Attach to calendar</a></li>
    <li><a class="chown-device" tabindex="-1"><i class="chown-device fa fa-exchange"></i>&nbsp;&nbsp;Change ownership</a></li>
    <li><a class="update-device" tabindex="-1"><i class="update-device fa fa-edit"></i>&nbsp;&nbsp;Update</a></li>
    <li><a class="delete-device" tabindex="-1"><i class="delete-device fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Delete</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancel</a></li>
  </ul>
</div>
