    <div id="new-device-container" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create new device</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body form-horizontal">
                    <input id="user_id" type="hidden" name="user_id" value="<%= current_user.id %>" />
                    <div class="form-group">
                        <label for="device-name" class="col-sm-5 control-label">Name&nbsp;&nbsp;<i class="fa fa-tags"></i></label>
                        <div class="col-sm-7">
                          <input id="device-name" name="device_name" type='text' class="form-control" />
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="device-address" class="col-sm-5 control-label">Address&nbsp;&nbsp;<i class="fa fa-map-marker"></i></label>
                        <div class="col-sm-7">
                            <textarea id="device-address" rows="4" name="device_address" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="device-obs" class="col-sm-5 control-label">Obs.&nbsp;&nbsp;<i class="fa fa-pencil-square-o"></i></label>
                        <div class="col-sm-7">
                            <textarea id="device-obs" rows="4" name="device_obs" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="device-sn" class="col-sm-5 control-label">Serial&nbsp;&nbsp;<i class="fa fa-cog"></i></label>
                        <div class="col-sm-7">
                          <input id="device-sn" name="device_sn" type='text' class="form-control" />
                        </div>
                    </div> 
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="submit-new-device" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
