<footer class="footer hide">
    <div class="container-fluid hidden-print">
        <% if current_user %>
        <p class="text-center small" style="margin: 20px">Author: Cometa SRL Romania web: <a href="http://www.cometa.ro">www.cometa.ro</a>, email:<a href="mailto:office@cometa.ro">office@cometa.ro</a></p>
        <% end %>
    </div>
</footer>
